.logo {
  font-family: sans-serif !important;
  font-size: 1.5em;
}

.heart .icon {
  height: unset;
  width: unset;
}

.header::before,
.header::after {
  content: unset;
  display: unset;
}

.navbar-item.is-active, .navbar-brand {
  font-weight: bold;
}

.post {
  .post-header .post-link::before {
    display: none;
  }
  .post-content a, .post-footer .post-tags a {
    color: $link;
    &:hover {
      color: $link-hover;
      border-bottom: none;
    }
  }
  .post-content {
    code {
      padding: 0;
    }
  }
  max-width: 50em;
}
.post, .archive {
  margin: 0 auto;
}

.footer {
  margin-top: 0;
}

.header {
  padding: 0;
}
.post {
  .post-footer {
    .post-nav {
      display: flex;
      justify-content: space-between;
      &::before {
        display: initial;
        content: initial;
      }
      &::after {
        clear: initial;
        display: initial;
        content: initial;
      }
    }
  }
}

.next, .prev {
  display: flex;
  align-items: center;
  float: none;
}