{{ define "content" -}}
<article class="post bg-white content">
  <!-- post-header -->
  <header class="post-header">
    <h1 class="post-title">{{ .Title }} 
      {{if isset .Params "repo" }}
      <a target="_blank" href="{{ .Params.repo }}" rel="noopener">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
      </a>
      {{end}}
      {{if isset .Params "devpost" }}
      <a target="_blank" href="{{ .Params.devpost }}" rel="noopener">
        <span class="icon"><i class="fa fa-link"></i>
</span>
      </a>
      {{end}}
    </h1>
    {{ partial "post/i18nlist.html" . }}
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-time">
        {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </time>
    </div>
  </header>

  <!-- TOC -->
  {{ partial "post/toc.html" . }}

  <!-- Content -->
  <div class="post-content">
    {{if .Params.image}}
    {{ $page := . }}
    {{ with resources.Get (printf "thumbnails/%s" (.Params.image)) }}
    <figure vocab="http://schema.org" typeof="ImageObject">
      <img property="image" src="{{ .RelPermalink }}" alt="{{ $page.Title }}"/>
    </figure>
    {{end}}
    {{end}}
    {{ .Content }}
  </div>

  <!-- Copyright -->
  {{ partial "post/copyright.html" . }}

  <!-- Reward -->
  {{ partial "post/reward.html" . }}
</article>

<!-- Comments -->
{{ partial "comments.html" . }}

{{- end }}
