$divider-vertical-pad: 0.5rem;
$divider-horizontal-pad: 1rem;

.divider-container {
    display: flex;
    justify-content: center;

    & ~ * {
        padding-top: calc(2rem - #{$divider-vertical-pad / 2});
    }
}

.section-divider {
    font-size: 2rem;
    padding: $divider-vertical-pad $divider-horizontal-pad;
    margin-bottom: calc(-2rem + #{$divider-vertical-pad / 2});
    position: relative;

    @each $name, $pair in subsetMap($colors, ("primary")) {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.is-#{$name} {
            background-color: $color;
            color: $color-invert;
        }
    }
}