{{ define "title" }}{{ i18n "archive" }} - {{ .Site.Title }}{{ end }}

{{ define "content"}}
{{ $pages := .RegularPages }}
{{ if .IsPage }}
{{ if .Params.target }}
{{- $pages = where .Site.RegularPages.ByDate.Reverse "Type" .Params.target }}
{{ else }}
{{- $pages = where .Site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections }}
{{ end }}
{{end}}
<div id="archive" class="archive">
  <div class="archive-title">
    <span class="archive-post-counter">
      {{- $length := len $pages }}
      {{ i18n "counter_archives" $length }}
    </span>
  </div>

  {{- range $index, $element := $pages -}}
  {{- $thisYear := $element.Date.Format "2006" }}
  {{- $lastElement := $index | add -1 | index $pages }}
  {{ if or (eq $index 0) ( ne ($lastElement.Date.Format "2006") $thisYear ) }}
  <div class="collection-title">
    <h2 class="archive-year">{{ $thisYear }}</h2>
  </div>
  {{- end }}

  <div class="archive-post">
    <time datetime="{{ .Date.Format "2006-01-02" }}" class="archive-post-time">
      {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
    </time>
    <span class="archive-post-title">
      <a href="{{ $element.RelPermalink }}" class="archive-post-link">
        {{ .Title }}
      </a>
    </span>
  </div>
  {{- end -}}
</div>
{{ end }}