<!DOCTYPE html>
<html ⚡ lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <title>
    {{- block "title" . -}}
    {{ if (or .IsPage .IsSection) }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
  {{ partial "head.html" . }}
</head>

<body>
  {{ if or .Site.Params.photoswipe .Site.Params.fancybox }}
  {{ partial "photoswipe.html" . }}
  {{ end }}

  {{ if .Site.Params.search.google.enable }}
  {{ partial "search_google.html" . }}
  {{ end }}

  {{ if .Site.Params.forkMeOnGithub }}
  <style>
    .fork-me-on-github {
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
    }

    @media (max-width: 1080px) {
      .fork-me-on-github {
        display: none;
      }
    }
  </style>

  <a href="{{ .Site.Params.forkMeOnGithub }}">
    <img class="fork-me-on-github" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"
      alt="Fork me on GitHub">
  </a>
  {{ end }}

  {{block "header" .}}
  <header id="header" class="header">
    {{ partial "header.html" . }}
  </header>
  {{end}}

  <div id="mobile-panel">
    <div class="main-grid">

    </div>
        {{block "main-container" .}}
        <main id="main" class="main bg-llight">
          <div class="container">
            <section class="section">
              {{ block "content" . }}{{ end }}
            </section>
          </div>
        </main>
        {{end}}
        {{block "right-aside" .}}{{end}}
      </div>
    </div>


    {{block "footer" .}}
    <footer id="footer" class="footer">
      <div class="container">
        {{ partialCached "footer.html" . }}
      </div>
    </footer>
    {{end}}

    <div class="back-to-top" id="back-to-top">
      <i class="iconfont">
        {{/* icon up */}}
        {{ partial "svg/up.svg" }}
      </i>
    </div>
  </div>
  {{ partial "scripts.html" . }}
  {{ partial "custom_scripts.html" .}}
</body>

</html>