.copyright {
    margin: $copyright-margin;
    color: $dark-gray;
    text-align: center;
    font-family: $global-serif-font-family;

    .copyright-year {
      display: block;
  
      .heart {
        font-size: 14px;
      }
    }
  }