<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25602184-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-25602184-3');
</script>

{{ $fa := resources.Get "sass/fontawesome.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
{{ $bulma := resources.Get "sass/bulma.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
{{ $style := resources.Get "sass/jane.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}

{{ $external := slice $fa $bulma $style | resources.Concat "css/bundle.css"}}
<link rel="stylesheet" href="{{ $external.RelPermalink }}" as="style" crossorigin="anonymous" integrity="{{ $external.Data.Integrity }}">

{{ $preload := resources.Get "js/cssrelpreload.js" | minify | fingerprint }}
<script>{{ $preload.Content | safeJS }}</script>

{{ $custom := resources.Get "sass/main.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
<style>{{ $custom.Content | safeCSS }}</style>

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

{{if .Page.Params.JSONLDTemplate }}
<script type="application/ld+json">{{ partial (printf "structured_data/%s" .Page.Params.JSONLDTemplate) . | safeJS }}</script>
{{end}}