<nav class="navbar is-size-5 is-white">
    <div class="container">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <a href="{{ "/" | relLangURL }}" class="navbar-item logo">
                {{ if .Site.Params.logoTitle }}
                {{ .Site.Params.logoTitle | safeHTML }}
                {{ else }}
                {{ .Site.Title }}
                {{ end }}
            </a>
        </div>
        <div id="nav-menu" class="navbar-menu">
            <div class="navbar-end">
                {{ $currentPage := . }}
                {{ $section := .Site.GetPage $currentPage.Section }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <!-- drop down navigation MENU -->
                        <a class="navbar-link {{if $currentPage.HasMenuCurrent "main" . }}is-active{{end}}" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
                        <div class="navbar-dropdown">
                            {{ range .Children }}
                                <a class="navbar-item {{if $section.IsMenuCurrent "main" . }}is-active{{end}}" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
                            {{ end }}
                        </div>
                    </div>
                    {{ else }}
                    <!-- normal MENU -->
                    {{ if hasPrefix .URL "http" }}
                    <a class="navbar-item" href="{{ .URL | absLangURL | safeURL }}" rel="noopener" target="_blank">
                        {{ .Name }}
                        {{/* icon new window */}}
                        <i class="iconfont">
                            {{ partial "svg/new_window.svg" }}
                        </i>
                    </a>
                    {{ else }}
                        <a class="navbar-item {{if $section.IsMenuCurrent "main" . }}is-active{{end}}" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
                    {{ end }}
        
                    {{ end  }}
        
                {{ end }}
            </div>
    
            {{/* language chooser */}}
            {{ if and (gt (len .Site.Home.AllTranslations) 1) (.Site.Params.showMenuLanguageChooser | default false ) }}
            {{- $.Scratch.Set "language" .Language -}}
            <div class="navbar-item has-dropdown is-hoverable">
                <!-- drop down navigation MENU -->
                <a class="navbar-link">
                    {{/* icon globe */}}
                    <i class="iconfont">
                        {{ partial "svg/globe.svg" }}
                    </i>
                    {{ .Site.Language.LanguageName }}
                </a>
                <div class="navbar-dropdown">
                    {{ range .Site.Home.AllTranslations }}
                    {{ if ne ($.Scratch.Get "language") .Language }}
                    <a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                    {{ end }}
                </ul>
            </li>
            {{ end }}
    
            {{ if .Site.Params.search.google.enable }}
            <a id="openSearch" class="navbar-item menu-item-search">
                <i class="iconfont">
                    {{ partial "svg/search.svg" }}
                </i>
            </a>
            {{ end }}
            </ul>
        </div>
    </div>
</nav>