{{/* This file show footer social icons */}}
<ul class="social-links">
  {{ range .Site.Data.social.social_icons }}
  {{- if isset $.Site.Author .id }}
  <li>
    <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
      <span class="icon is-large">
        <i class="{{ .icon }} fa-2x"></i>
      </span>
    </a>
  </li>
  {{- end -}}
  {{ end }}

  {{/* RSS icon  */}}
  {{ with .Site.GetPage "home" -}}
  {{- with .OutputFormats.Get "RSS" -}}
  <a ref="noopener" href="{{ .Permalink }}" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}" title="rss"
    target="_blank">
    <span class="icon is-large">
      {{ partial "svg/rss.svg" }}
    </span>
  </a>
  {{ end -}}
  {{- end -}}
</ul>