{{define "main-container"}}
<main id="main" class="main bg-llight">
    <section class="section">
        <div class="container">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </section>

    <div class="divider-container">
        <div class="section-divider is-primary">Projects</div>
    </div>

    {{ $pages := where .Site.RegularPages.ByDate.Reverse "Section" "projects" }}
    {{ $important := first 3 $pages }} {{ range $index, $val := $important }}
    <section class="hero is-white">
        <div class="hero-body container">
            <div class="columns is-variable is-5">
                <div class="column content" style="{{if not (modBool $index 2)}}order: 2{{end}}">
                    <h1 class="title"><a href="{{ $val.RelPermalink }}">{{$val.Title}}</a></h1>
                    <p>{{.Summary}}</p>
                </div>
                <div class="column is-7">
                    {{if $val.Params.image}}
                    {{ with resources.Get (printf "thumbnails/%s" ($val.Params.image)) }}
                    <figure class="is-vcenter" vocab="http://schema.org" typeof="ImageObject">
                        <img property="image" src="{{ .RelPermalink }}" alt="{{ $val.Title }}" />
                    </figure>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <section class="section">
        <div class="container">
            <div class="project-grid">
                {{ range $pages | complement $important }}
                <div class="project-grid-item card">
                    <div class="card-header">
                        <h1 class="card-header-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                    </div>
                    <div class="card-image">
                        {{ $page := . }}
                        {{if .Params.image}}
                        {{ with resources.Get (printf "thumbnails/%s" (.Params.image)) }}
                        {{ $image := . }}
                        {{if ne $image.MediaType.SubType "gif" }}
                        {{ $image = $image.Fill "300x200" }}
                        {{end}}
                        <figure class="image is-3by2" vocab="http://schema.org" typeof="ImageObject">
                            <img property="image" src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}" />
                        </figure>
                        {{end}}
                        {{end}}
                    </div>
                    <div class="card-content">
                        <p>{{.Summary}}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</main>
{{end}}