<div class="conway-container">
    <canvas id="conway" width="200" height="200"></canvas>
    <button id="start-animation" class="button is-primary">Start Animation</button>
    <button id="reset-animation" class="button is-secondary">Reset</button>
    <button id="stop-animation" class="button">Stop Animation</button>
</div>
<script type="module">
    import {rows, cols, resetBoard, toggleCell, drawCell, startAnimation, stopAnimation, init, drawBoard} from '/js/conway.mjs'

    async function run() {
        let promise = init()
        window.addEventListener('DOMContentLoaded', async () => {
            let canvas = document.getElementById('conway')
            let context = canvas.getContext('2d')
            let rect = canvas.getBoundingClientRect()

            document.getElementById('start-animation').addEventListener('click', startAnimation.bind(null, context, rect))
            document.getElementById('stop-animation').addEventListener('click', stopAnimation)
            document.getElementById('reset-animation').addEventListener('click', () => {
                stopAnimation()
                resetBoard()
                drawBoard(context, rect)
            })

            await promise
            canvas.addEventListener('mouseup', event => {
                const y = event.offsetY / rect.height * rows
                const x = event.offsetX / rect.width * cols

                let state = toggleCell(x, y)
                if(state) {
                    drawCell(context, x, y, rect, state)
                }
            })

            drawBoard(context, rect)
        });
        await promise
    }

    run();
</script>
<style>
#conway {
    width: 100%;
}
.conway-container {
    margin-bottom: 2rem;
}
</style>