<div class="embed imgur-image">
<blockquote class="imgur-embed-pub" lang="en" data-id="{{ .Get "id" }}">
<a href="//imgur.com/{{ .Get "id" }}"></a>
</blockquote>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
</div>