<figure{{ with .Get "class" }} class="{{ . }}"{{ end }} vocab="http://schema.org" typeof="ImageObject">
    {{- $link := or (.Get "link") (.Get "src") -}}
    {{ if $link }}
        <a property="contentUrl" href="{{ $link }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    {{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
    {{- with .Get "width" }} <meta itemprop="width" width="{{ . }}" />{{ end -}}
    {{- with .Get "height" }} <meta itemprop="height" height="{{ . }}" />{{ end -}}
    <img property="image" src="{{ $image.RelPermalink }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
    /> <!-- Closing img tag -->
    {{- if $link }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption property="caption">
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>